.Nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: rgb(12, 68, 105);
    height: 45px;
    font-size: 18px;
    font-weight: 600;
}

.Nav a {
    text-decoration: none;
    padding-right: 20px;
    color: white;
}

.Nav a:hover {
    text-decoration: none;
    color: rgb(99, 157, 196);
}

.NavWrap {
    display: inline-flex;
    width: 700px;
    min-width: 400px;
}

.NavLink {
    text-decoration: none;
    padding-right: 20px;
    color: white;
}

.NavLink--selected {
    text-decoration: none;
    padding-right: 20px;
    color: rgb(99, 157, 196);
}

.NavHome img{
    width: 25px;
    padding-top: 4px;
}

.LeftNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
}

.RightNav {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavSearch {
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-right: 20px;
    text-align: center;
}