.login {
  width: 55% !important;
  border: 0.3em solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.reg-form {
  margin-top: 1em;
  margin-left: 6em;
  margin-right: 6em;
}
.login-form {
  margin-left: 6em;
  margin-right: 6em;
}
.toggles {
  text-align: center;
}
.toggle-btn {
  margin: 0.5em;
}
